.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url(https://t4.ftcdn.net/jpg/05/89/06/63/360_F_589066319_rl6LPpl7pwDgewU7rA0dBFMZY3g4YbSu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name{
  font-size: 48px;
  background: -webkit-linear-gradient(#fbfbfa, #a6e0e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold ;
  font-family:'Times New Roman', Times, serif;
}
.bgg{
  background: -webkit-linear-gradient(#CB218E, #6617CB);  
}